# **1. Perkenalan Dataset**

Tahap pertama, Anda harus mencari dan menggunakan dataset **tanpa label** dengan ketentuan sebagai berikut:

1. **Sumber Dataset**:  
   Dataset dapat diperoleh dari berbagai sumber, seperti public repositories (*Kaggle*, *UCI ML Repository*, *Open Data*) atau data primer yang Anda kumpulkan sendiri.
   
2. **Ketentuan Dataset**:
   - **Tanpa label**: Dataset tidak boleh memiliki label atau kelas.
   - **Jumlah Baris**: Minimal 1000 baris untuk memastikan dataset cukup besar untuk analisis yang bermakna.
   - **Tipe Data**: Harus mengandung data **kategorikal** dan **numerikal**.
     - *Kategorikal*: Misalnya jenis kelamin, kategori produk.
     - *Numerikal*: Misalnya usia, pendapatan, harga.

3. **Pembatasan**:  
   Dataset yang sudah digunakan dalam latihan clustering (seperti customer segmentation) tidak boleh digunakan.

# **2. Import Library**

Pada tahap ini, Anda perlu mengimpor beberapa pustaka (library) Python yang dibutuhkan untuk analisis data dan pembangunan model machine learning.

In [5]:
import os
import zipfile
import pandas as pd

# **3. Memuat Dataset**

Pada tahap ini, Anda perlu memuat dataset ke dalam notebook. Jika dataset dalam format CSV, Anda bisa menggunakan pustaka pandas untuk membacanya. Pastikan untuk mengecek beberapa baris awal dataset untuk memahami strukturnya dan memastikan data telah dimuat dengan benar.

Jika dataset berada di Google Drive, pastikan Anda menghubungkan Google Drive ke Colab terlebih dahulu. Setelah dataset berhasil dimuat, langkah berikutnya adalah memeriksa kesesuaian data dan siap untuk dianalisis lebih lanjut.

In [1]:
hospital = pd.read_csv('latihan machine learning/data/opendata.jabarprov.go.id_dataset_od_17255_jumlah_rumah_sakit_rs_berdasarkan_kabupatenkota_v1_csv.zip')

NameError: name 'pd' is not defined

In [6]:
student.head()

,ID,Age,Gender,Grade_Level,Strength_Score,Endurance_Score,Flexibility_Score,Speed_Agility_Score,BMI,Health_Fitness_Knowledge_Score,Skills_Score,Class_Participation_Level,Attendance_Rate,Motivation_Level,Overall_PE_Performance_Score,Improvement_Rate,Final_Grade,Previous_Semester_PE_Grade,Hours_Physical_Activity_Per_Week,Performance
0,1,16,Other,10th,46.642153,46.429238,50.363292,51.647608,29.237225,83.467708,62.546020,Medium,79.090405,Medium,71.983935,3.806210,A,B,6.141111,Low Performer
1,2,17,Male,9th,66.690215,66.508482,71.183308,50.508877,21.127816,53.727726,67.261465,High,92.294441,Medium,69.908176,1.651061,B,A,5.055664,Average Performer
2,3,14,Male,12th,47.404086,48.199333,48.805379,51.733417,18.609464,74.009057,55.150633,Medium,91.857339,High,64.822426,4.781953,C,B,6.514409,Average Performer
3,4,16,Other,12th,34.968570,51.506917,56.785577,52.439532,19.391644,68.971793,69.474886,Medium,99.498886,Medium,72.178023,5.068751,A,C,2.916263,Average Performer
4,5,16,Male,12th,47.542569,47.923138,34.064097,47.767977,17.641468,79.322630,57.834987,High,99.640018,Medium,74.755884,5.321179,B,B,9.975924,Average Performer

In [7]:
student.info

<bound method DataFrame.info of       ID  Age  Gender Grade_Level  Strength_Score  Endurance_Score  \
0      1   16   Other        10th       46.642153        46.429238
1      2   17    Male         9th       66.690215        66.508482
2      3   14    Male        12th       47.404086        48.199333
3      4   16   Other        12th       34.968570        51.506917
4      5   16    Male        12th       47.542569        47.923138
..   ...  ...     ...         ...             ...              ...
495  496   16    Male        10th       59.640872        45.156218
496  497   16    Male        10th       61.894705        38.538529
497  498   17    Male        11th       37.723922        55.083189
498  499   14  Female        10th       55.974001        74.750299
499  500   17    Male        11th       57.011727        37.189605

     Flexibility_Score  Speed_Agility_Score        BMI  \
0            50.363292            51.647608  29.237225
1            71.183308            50.508877  21.127816
2            48.805379            51.733417  18.609464
3            56.785577            52.439532  19.391644
4            34.064097            47.767977  17.641468
..                 ...                  ...        ...
495          41.395973            60.715432  23.772009
496          51.527844            51.906356  25.806199
497          73.235302            59.413106  17.915350
498          31.413394            39.674761  23.893888
499          27.987121            53.979270  20.929436

     Health_Fitness_Knowledge_Score  Skills_Score Class_Participation_Level  \
0                         83.467708     62.546020                    Medium
1                         53.727726     67.261465                      High
2                         74.009057     55.150633                    Medium
3                         68.971793     69.474886                    Medium
4                         79.322630     57.834987                      High
..                              ...           ...                       ...
495                       77.668184     64.176354                      High
496                       71.608777     69.161193                    Medium
497                       78.700611     75.069363                      High
498                       73.762673     83.369555                    Medium
499                       79.578056     70.063448                       Low

     Attendance_Rate Motivation_Level  Overall_PE_Performance_Score  \
0          79.090405           Medium                     71.983935
1          92.294441           Medium                     69.908176
2          91.857339             High                     64.822426
3          99.498886           Medium                     72.178023
4          99.640018           Medium                     74.755884
..               ...              ...                           ...
495        97.349326              Low                     67.347625
496        97.994814             High                     70.337191
497        77.371230             High                     72.685936
498        88.603150           Medium                     58.851778
499        93.512738              Low                     81.969109

     Improvement_Rate Final_Grade Previous_Semester_PE_Grade  \
0            3.806210           A                          B
1            1.651061           B                          A
2            4.781953           C                          B
3            5.068751           A                          C
4            5.321179           B                          B
..                ...         ...                        ...
495          4.787819           C                          B
496          7.466812           B                          A
497          4.984622           B                          C
498          4.224248           A                          B
499          7.612144           B                          B

     Hours_Physical_Activity_Per_Week        Performance
0                            6.141111      Low Performer
1                            5.055664  Average Performer
2                            6.514409  Average Performer
3                            2.916263  Average Performer
4                            9.975924  Average Performer
..                                ...                ...
495                          5.163913      Low Performer
496                          4.578708  Average Performer
497                          6.883151      Low Performer
498                          9.512870      Low Performer
499                          7.373959      Low Performer

[500 rows x 20 columns]>

# **4. Exploratory Data Analysis (EDA)**

Pada tahap ini, Anda akan melakukan **Exploratory Data Analysis (EDA)** untuk memahami karakteristik dataset. EDA bertujuan untuk:

1. **Memahami Struktur Data**
   - Tinjau jumlah baris dan kolom dalam dataset.  
   - Tinjau jenis data di setiap kolom (numerikal atau kategorikal).

2. **Menangani Data yang Hilang**  
   - Identifikasi dan analisis data yang hilang (*missing values*). Tentukan langkah-langkah yang diperlukan untuk menangani data yang hilang, seperti pengisian atau penghapusan data tersebut.

3. **Analisis Distribusi dan Korelasi**  
   - Analisis distribusi variabel numerik dengan statistik deskriptif dan visualisasi seperti histogram atau boxplot.  
   - Periksa hubungan antara variabel menggunakan matriks korelasi atau scatter plot.

4. **Visualisasi Data**  
   - Buat visualisasi dasar seperti grafik distribusi dan diagram batang untuk variabel kategorikal.  
   - Gunakan heatmap atau pairplot untuk menganalisis korelasi antar variabel.

Tujuan dari EDA adalah untuk memperoleh wawasan awal yang mendalam mengenai data dan menentukan langkah selanjutnya dalam analisis atau pemodelan.

In [ ]:
#Type your code here

# **5. Data Preprocessing**

Pada tahap ini, data preprocessing adalah langkah penting untuk memastikan kualitas data sebelum digunakan dalam model machine learning. Data mentah sering kali mengandung nilai kosong, duplikasi, atau rentang nilai yang tidak konsisten, yang dapat memengaruhi kinerja model. Oleh karena itu, proses ini bertujuan untuk membersihkan dan mempersiapkan data agar analisis berjalan optimal.

Berikut adalah tahapan-tahapan yang perlu dilakukan, namun **tidak terbatas** pada:
1. Menghapus atau Menangani Data Kosong (Missing Values)
2. Menghapus Data Duplikat
3. Normalisasi atau Standarisasi Fitur
4. Deteksi dan Penanganan Outlier
5. Encoding Data Kategorikal
6. Binning (Pengelompokan Data)

In [ ]:
#Type your code here

# **6. Pembangunan Model Clustering**

## **a. Pembangunan Model Clustering**

Pada tahap ini, Anda membangun model clustering dengan memilih algoritma yang sesuai untuk mengelompokkan data berdasarkan kesamaan. Berikut adalah **rekomendasi** tahapannya.
1. Pilih algoritma clustering yang sesuai.
2. Latih model dengan data menggunakan algoritma tersebut.

In [ ]:
#Type your code here

## **b. Evaluasi Model Clustering**

Untuk menentukan jumlah cluster yang optimal dalam model clustering, Anda dapat menggunakan metode Elbow atau Silhouette Score.

Metode ini membantu kita menemukan jumlah cluster yang memberikan pemisahan terbaik antar kelompok data, sehingga model yang dibangun dapat lebih efektif. Berikut adalah **rekomendasi** tahapannya.
1. Gunakan Silhouette Score dan Elbow Method untuk menentukan jumlah cluster optimal.
2. Hitung Silhouette Score sebagai ukuran kualitas cluster.

In [ ]:
#Type your code here

## **c. Feature Selection (Opsional)**

Silakan lakukan feature selection jika Anda membutuhkan optimasi model clustering. Jika Anda menerapkan proses ini, silakan lakukan pemodelan dan evaluasi kembali menggunakan kolom-kolom hasil feature selection. Terakhir, bandingkan hasil performa model sebelum dan sesudah menerapkan feature selection.

In [ ]:
#Type your code here

## **d. Visualisasi Hasil Clustering**

Setelah model clustering dilatih dan jumlah cluster optimal ditentukan, langkah selanjutnya adalah menampilkan hasil clustering melalui visualisasi.

Berikut adalah **rekomendasi** tahapannya.
1. Tampilkan hasil clustering dalam bentuk visualisasi, seperti grafik scatter plot atau 2D PCA projection.

In [ ]:
#Type your code here

## **e. Analisis dan Interpretasi Hasil Cluster**

Setelah melakukan clustering, langkah selanjutnya adalah menganalisis karakteristik dari masing-masing cluster berdasarkan fitur yang tersedia.

Berikut adalah **rekomendasi** tahapannya.
1. Analisis karakteristik tiap cluster berdasarkan fitur yang tersedia (misalnya, distribusi nilai dalam cluster).
2. Berikan interpretasi: Apakah hasil clustering sesuai dengan ekspektasi dan logika bisnis? Apakah ada pola tertentu yang bisa dimanfaatkan?

In [ ]:
#Type your code here

Tulis hasil interpretasinya di sini.
1. Cluster 1:
2. Cluster 2:
3. Cluster 3:

# **7. Mengeksport Data**

Simpan hasilnya ke dalam file CSV.